<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the rails Tutorial.
  </h2>

  <%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary" %>

  <p>some more stuff</p>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

